.question {
  width: 100%;
}

.qstn-con {
  width: 75%;
}

.qstn-con {
  border-radius: 20px;
}

.content h6 {
  font-weight: 600;
  font-size: 18px;
  color: rgba(50, 51, 52, 1);
}

.content p {
  font-size: 14px;
}
.qstnbox {
  width: 50%;
}

@media (max-width: 1024px) {
  .qstn-con {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .qstnbox {
    width: 100%;
  }
}

@media (max-width: 724px) {
  .content h6 {
    font-weight: 400;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .content h6 {
    font-weight: 400;
    font-size: 14px;
  }
  #qstn-content {
    font-size: 12px;
  }
  .qstn-con {
    width: 98%;
  }
  #header-qstn{
   font-size: 18px;
  }
}
