/* style={{width:'19rem',height:'29rem',cursor: 'pointer'}} */
.product-card{
    width: 95%;
  height: 100%;
    cursor: pointer;
    
}



.product-nav{
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1); 
}

.product-nav ul{
    font-size: 17px;
    font-weight: 500;
}

.product-nav ul li{
    cursor: pointer;
}

.product-categories{
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
/* position: absolute;
z-index: 10; */
}

.catrgories-row ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.catrgories-row-1 ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.catrgories-row-1 ul li{
    cursor: pointer;
}

.catrgories-row-1{
    background-color: #0052260c;
}

.catrgories-color{
  background-color: #0052260c;
}
 

  .circle{
    visibility: hidden;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background:green;
  }

  

 
 .zz{
    visibility: hidden;
 }
 
 .zz :hover{
    visibility: visible;
 }

 .product-card-img{
    height: 301px ;
 }
 .product-name{
    height: 50px;
    font-size:16px;
 }

 .product-lyk-icon{
    font-size: 25px;
 }
 .product-price{
    font-size: 18px;
 }
 

 /* Between 577px and 767px */

 @media (max-width : 1400px) {
    /* .product-card{
        width: 16rem;
        height: 26rem;
        cursor: pointer;
    } */
    .product-card-img{
        height: 17rem ;
     }
 }

 @media (max-width:768px) {
    .product-card {
      width: 99%;
      height: 100%;
    }
    .product-card-img {
      height: 14rem;
    }
     
  } 
  @media (max-width:576px) {
   
    .product-card-img {
      height:8rem;
    }
    .product-name{
        font-size: 10px;
        height: 30px;
    } 
    .product-lyk-icon{
        font-size:15px;
    }
    .product-price{
        font-size:12px;
    }
  } 


  @media (max-width:380px) {
   
    .product-card-img {
      height:7rem;
    }
    .product-name{
        font-size: 8px;
        height: 20px;
    } 
    .product-lyk-icon{
        font-size:10px;
    }
    .product-price{
        font-size:10px;
    }
    /* .wishlist-text{
        font-size: 12px;
    } */
  } 

 
