 
.featured h2{
    font-weight: 600;
    font-size: 44px;
}

.featuredCat span{
font-size: 24px;
font-weight: 500;
padding: 10px 30px;
border-radius: 25px;
border: 1px solid gray ;
}

.product_card{
    width: 95%;
}
 
 

@media (min-width: 577px) and (max-width: 767px) {
    .featuredCat span {
        font-size: 20px;
        padding: 8px 25px;
    }
    .featured h2{
        font-weight: 600;
        font-size: 40px;
    }
}
 
@media (max-width: 576px) {
    .featuredCat span {
        font-size: 16px;
        padding: 6px 15px;
    }
    .view-more{
        font-size: 12px;
    }
   
}

@media (max-width: 376px) {
    .featured h2{
        font-weight: 600;
        font-size: 30px;
    }
    .featured-header{
        font-size: 18px;
    }
}