.product-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.product-buttons button {
  border: none;
  padding: 10px 15%;
  border-radius: 10px;
  font-weight: 500;
}

.hidden-for-mob {
  display: block;
}

.display-for-lap {
  display: none;
}

@media (max-width: 1400px) {
  .display-for-lap {
    display: block;
  }
  .hidden-for-mob {
    display: none;
  }
  .detailed-img {
    height: 60vh;
    width: 100%;
  }
}

@media (max-width:480px) {
  .product-buttons button {
    padding:10px 10%;
    border-radius: 10px;
    font-weight: 400;
  }
}
